.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
}

.logo img {
    float: left;
    height: 50px;
    padding: 10px;
    opacity: 0.9;
}


.container1 {
    height: 700px;
    width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 69px;
    opacity: 0.9;
}

.text-block {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    text-align: center;

}


ul li {
    display: inline-block;
    padding: 10px;
    font-size: 22px;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    text-decoration: underline;

}

ul li:hover {
    color: orange;

}

body {
    background-color: black;
}

.tea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Tom1 {
    height: 20px;
    width: 30px;
    align-content: center;
}